html {
   height: 100%;
} 

body {
   position:relative;
   box-sizing: border-box;
   margin: 0;
   height: 100%;   
   color:white;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
} 

#canvas {
   box-sizing: border-box;
   position:absolute;
   height:100%;
   width:100%;
   background: #333;
   margin-right:300px; /*Update value in snake.dart if changed*/
   background: url('soft.png');
}

#score-container {
   position:absolute;
   right:0px;
   box-sizing: border-box;
   padding:20px;
   height:100%;
   width:300px;
   background: #555;
   background: url('rough.png');
   box-shadow: 0 0 5px #111;
}

#score-container h2 {
   font-weight:normal;
   font-size: 45px;
   border-bottom: 3px solid white;
   height:70px;
   width:100%;
}

.snake {
  position:absolute;
  background:blue;
}

.apple {
  position:absolute;
  background:green;
}  

#highscores {
  overflow: hidden;
}

.highscore {
  font-size:28px;
  height:40px;
}
  
  
